.page-header {
  color: #fff;
  background: #73c5ff;
  font-size: 24px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); }
  .page-header .page-container {
    padding: 20px;
    position: relative; }

.logo {
  width: 120px;
  vertical-align: top;
  display: block;
  margin: 0 auto; }

.logout {
  position: absolute;
  right: 20px;
  top: 40px; }
  .logout .account-info {
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 13px;
    max-width: 250px;
    white-space: nowrap; }
    .logout .account-info a {
      text-decoration: underline;
      color: white; }
      .logout .account-info a:hover {
        color: #f6f6f6;
        text-decoration: none; }
  .logout button {
    border: 1px solid #fff;
    padding: 10px 15px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    float: right; }
    .logout button:hover {
      background: #68b6ec; }

.home-page {
  display: flex;
  align-items: center; }
  .home-page .column {
    text-align: center;
    flex: 0 0 50%; }

.home-button {
  display: inline-block;
  padding: 30px;
  box-sizing: border-box;
  height: 150px;
  line-height: 95px;
  vertical-align: middle;
  width: 350px;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border: none; }

.column-new .home-button {
  background: #73c5ff; }
  .column-new .home-button:hover {
    color: #fff;
    background: #68b6ec; }

.column-cancel .home-button {
  background: #fff;
  color: #73c5ff; }
  .column-cancel .home-button:hover {
    color: #73c5ff;
    background: #f6f6f6; }

.address-search .page-title {
  margin-top: 35px; }

.address-form {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  background: #73c5ff; }
  .address-form input[type="text"] {
    margin-right: 10px;
    width: 290px;
    border: none; }
  .address-form input[type="submit"] {
    border: 1px solid #fff; }

.search-results {
  margin: 50px 0 25px; }

.category-list {
  margin: 25px 0;
  list-style: none;
  padding: 0; }
  .category-list li {
    margin: 25px 0;
    padding: 20px;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
    .category-list li:hover {
      background: #f6f6f6;
      cursor: pointer; }

.category-name {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  text-transform: capitalize; }
  .category-name a {
    text-decoration: none;
    color: #0892f3; }

.page-footer {
  background: #312a6b;
  padding: 20px;
  color: #fff;
  font: 14px 'Roboto Condensed';
  text-align: center; }

.doctor-filters-wrapper {
  display: flex;
  justify-content: center;
  margin: 25px 0; }

.doctor-filter {
  flex: 0 0 25%;
  text-align: center; }
  .doctor-filter-hint {
    font-size: 11px;
    text-align: left;
    margin-left: 93px; }
  .doctor-filter input[type="radio"] {
    margin-right: 5px; }

.available-appointments {
  list-style: none;
  padding: 0;
  margin: 20px 0; }
  .available-appointments > li {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px 0 0; }

.appointment-day {
  text-transform: uppercase;
  font-size: 20px;
  flex: 0 0 15%; }
  .appointment-day .date {
    font-size: 26px;
    display: block; }

.appointment-options {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 0 85%; }
  .appointment-options li {
    display: flex;
    flex: 0 0 48%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px; }
    .appointment-options li:hover {
      background: #f6f6f6;
      cursor: pointer; }
  .appointment-options .time {
    flex: 0 1 10%;
    text-align: center;
    padding: 20px 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 20px; }
  .appointment-options .doctor-info {
    flex: 0 1 90%;
    padding: 25px 10px;
    margin: 0; }

.patient-selection {
  margin-bottom: 80px;
  font-size: 18px; }

.patient-selection-label {
  font-size: 30px;
  text-align: center; }

.patient-selection-info {
  display: flex;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background: #d9efff;
  width: 50%;
  margin: 30px auto; }

.patient-selection-date {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center; }
  .patient-selection-date .day {
    font-size: 24px;
    display: block; }

.patient-selection-time {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center; }

.patient-selection-doctor {
  padding: 20px;
  display: flex;
  align-items: center; }

.patient-details-form-title {
  font-size: 24px;
  text-align: center; }

.patient-details-form {
  width: 50%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .patient-details-form input {
    height: 35px;
    font-size: 16px;
    border: none; }
  .patient-details-form input[type="text"] {
    flex: 0 0 48%;
    padding: 1px 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
  .patient-details-form input[type="tel"] {
    margin: 20px 0;
    flex: 0 0 100%;
    padding: 1px 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
  .patient-details-form input[type="submit"] {
    background: #73c5ff;
    color: #fff;
    margin: auto;
    width: 120px; }
    .patient-details-form input[type="submit"]:hover {
      background: #68b6ec;
      cursor: pointer; }

.appointment-notification {
  text-align: center; }

.appointment-receipt {
  font-size: 16px;
  width: 300px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin: 50px auto;
  padding: 20px; }

.order-number {
  font-size: 24px;
  text-align: center; }
  .order-number span {
    color: #00b900; }

.order-datetime {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  font-weight: bold; }

.order-line-number {
  text-align: center;
  margin: 30px 0 0; }
  .order-line-number span {
    color: #00b900;
    font-weight: bold; }

.new-appointment-finish {
  text-align: center; }
  .new-appointment-finish a {
    padding: 10px 30px;
    background: #73c5ff;
    color: #fff;
    line-height: 1;
    text-decoration: none;
    display: inline-block; }
    .new-appointment-finish a:hover {
      background: #68b6ec; }

.cancel-appointment-form {
  display: flex;
  justify-content: center;
  margin: 30px 0; }
  .cancel-appointment-form input {
    height: 35px;
    font-size: 16px;
    border: none; }
  .cancel-appointment-form input[type="text"] {
    margin-right: 20px;
    padding: 1px 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    width: 170px; }
  .cancel-appointment-form input[type="submit"] {
    color: #fff;
    background: #73c5ff;
    padding: 10px 20px;
    line-height: 1; }
    .cancel-appointment-form input[type="submit"]:hover {
      background: #68b6ec; }

.cancel-sample {
  width: 350px;
  margin: 0 auto; }
  .cancel-sample img {
    width: 100%; }

.sign-in-form {
  width: 300px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 100px auto;
  text-align: center; }
  .sign-in-form input {
    width: 100%; }
  .sign-in-form input[type="email"],
  .sign-in-form input[type="password"] {
    padding: 1px 5px;
    margin-bottom: 20px; }
  .sign-in-form input[type="submit"] {
    margin-bottom: 5px; }

.clinic-registration-form {
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
  .clinic-registration-form input {
    height: 35px;
    font-size: 16px;
    width: 100%; }
  .clinic-registration-form input:not([type="submit"]) {
    margin-bottom: 20px;
    padding: 1px 5px; }

.account-page .page-title {
  text-align: left; }
  .account-page .page-title.with-border {
    border-bottom: 1px solid #312a6b;
    padding: 8px 60px 8px 0; }

.account-page .doctor-specialisations-list {
  display: block; }
  .account-page .doctor-specialisations-list ul {
    list-style: none;
    padding: 0; }
  .account-page .doctor-specialisations-list li {
    margin: 20px 0; }
  .account-page .doctor-specialisations-list a {
    text-decoration: underline; }
    .account-page .doctor-specialisations-list a:hover {
      text-decoration: underline; }

.account-header {
  position: relative; }

.account-settings {
  position: absolute;
  right: 0;
  top: 8px;
  text-decoration: underline; }
  .account-settings:hover {
    text-decoration: none; }

.doctor-specialisations {
  position: relative; }
  .doctor-specialisations .page-subtitle {
    border-bottom: 1px solid #000;
    padding: 10px 110px 10px 0; }
  .doctor-specialisations .button-primary {
    position: absolute;
    right: 0;
    top: 10px;
    width: 100px; }

.breadcrumbs {
  padding: 0; }
  .breadcrumbs li {
    display: inline-block;
    text-transform: capitalize; }
  .breadcrumbs a {
    text-decoration: underline; }
  .breadcrumbs .separator {
    color: black;
    margin: 0 5px; }

.modal-blackout {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center; }

.modal {
  width: 300px;
  background: #fff;
  margin: auto;
  padding: 20px; }
  .modal header {
    margin-bottom: 20px;
    position: relative; }
  .modal button {
    border: none;
    position: absolute;
    right: 0;
    top: 1px;
    font-size: 18px;
    background: transparent;
    padding: 0;
    color: #312a6b; }
    .modal button:hover {
      cursor: pointer;
      color: #8c8a8a; }
  .modal .modal-title {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0 50px 10px 0;
    border-bottom: 1px solid #312a6b; }
  .modal .modal-description {
    line-height: 1.5; }
  .modal input,
  .modal select {
    width: 100%;
    height: 35px;
    font-size: 16px;
    padding: 1px 5px;
    margin-bottom: 15px; }
  .modal select {
    border-radius: 0;
    -webkit-border-radius: 0; }
  .modal input[type="submit"] {
    margin: 0; }
  .modal .input-hint {
    margin: -10px 0 15px; }

.modal-success-message {
  text-align: center;
  line-height: 1.5;
  font-size: 16px; }
  .modal-success-message p:last-child {
    margin-bottom: 0; }
  .modal-success-message .button {
    text-decoration: none;
    display: inline-block;
    background: #73c5ff;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 20px; }

.data-table {
  width: 100%;
  border: 1px solid #dad8d8;
  border-spacing: 0; }
  .data-table thead {
    background: #efefef; }
  .data-table tr:nth-child(even) {
    background: #efefef; }
  .data-table tr.disabled td {
    color: #999; }
  .data-table th,
  .data-table td {
    padding: 5px;
    border-right: 1px solid #dad8d8; }
    .data-table th:last-child,
    .data-table td:last-child {
      border: 0; }
  .data-table tbody tr:not(.disabled):hover td {
    background: #d9efff;
    border-color: #d9efff; }
  .data-table .controls {
    color: #888;
    width: 110px;
    text-align: center; }
    .data-table .controls button {
      margin: 0 2px; }

.data-section-header {
  position: relative; }

.data-section-title {
  border-bottom: 1px solid #000;
  padding: 10px 100px 10px 0;
  font-size: 24px;
  font-weight: normal; }

.data-section-btn {
  position: absolute;
  top: 10px;
  right: 0;
  width: 100px; }

.doctor-account-page .page-title {
  border-bottom: 1px solid #312a6b;
  padding: 8px 60px 8px 0; }

.doctor-account-page .account-settings {
  top: 15px; }

.doctor-account-page .data-section {
  margin: 40px 0; }

* {
  box-sizing: border-box; }

body {
  font: 14px 'Roboto Condensed';
  color: #312a6b;
  margin: 0; }

a {
  color: #0892f3; }
  a:hover {
    color: #68b6ec;
    text-decoration: none; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.page-container {
  flex: 1;
  padding: 20px;
  width: 1140px;
  box-sizing: border-box;
  margin: 0 auto; }

.page-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 28px;
  color: #312a6b; }

.page-subtitle {
  font-size: 26px;
  font-weight: normal;
  color: #312a6b; }

.button-primary {
  background: #4bb1f9;
  color: #fff;
  border: none;
  height: 35px;
  font-size: 16px;
  cursor: pointer; }
  .button-primary:hover {
    background: #73c5ff; }

input[type="text"] {
  padding: 1px 5px; }

input:not([type="radio"]) {
  height: 35px;
  font-size: 16px; }

input[type="submit"] {
  padding: 10px 30px;
  background: #4bb1f9;
  color: #fff;
  border: none;
  line-height: 0.7; }
  input[type="submit"][disabled] {
    background: #f0f0f0;
    color: #888; }
  input[type="submit"]:not([disabled]):hover {
    background: #73c5ff;
    cursor: pointer; }

.input-hint {
  color: #00b900;
  margin: 0; }

.error {
  color: #d87373;
  margin-top: 0; }

.doctor-specialisations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 35px; }
  .doctor-specialisations-list li {
    flex: 0 0 30%;
    margin: 0 0 40px; }

/*# sourceMappingURL=index.css.map */
