.address-form {
	margin: 30px 0;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	padding: 20px;
	background: $primary-light-color;

	input[type="text"] {
		margin-right: 10px;
		height: 36px;
		width: 290px;
		padding: 2px 3px;
	}

	input[type="submit"] {
		padding: 10px 30px;
		background: $primary-color;
		border: none;
		color: white;

		&:hover {
			background: $primary-color-hover;
		}
	}
}