.clinic-registration-form {
    width: 300px;
    margin: 30px auto;
    padding: $block-padding;
    box-shadow: $block-shadow;

    input {
        height: $input-height;
        font-size: $input-font-size;
        width: 100%;
    }

    input:not([type="submit"]){
        margin-bottom: 20px;
        padding: 1px 5px;
    }

    input[type="submit"] {
        background: $primary;
        color: $white;
        border: none;

        &:hover {
            background: $primary-hover;
            cursor: pointer;
        }
    }
}