.account-page {
    position: relative;

    .page-title {
        text-align: left;
    }
}

.account-settings {
    position: absolute;
    right: 30px;
    top: 45px;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.doctor-specialisations {
    position: relative;

    .page-subtitle {
        border-bottom: 1px solid black;
        padding: 10px 110px 10px 0;
    }

    button {
        position: absolute;
        right: 0;
        top: 10px;
        background: $primary-color;
        border: none;
        color: white;
        height: 35px;
        font-size: 16px;
        width: 100px;

        &:hover {
            background: $primary-color-hover;
        }
    }
}

.doctor-specialisations-list {
    display: flex;
    
    ul {
        flex: 0 0 33%;
        list-style: none;
        padding: 0;
    }

    li {
        margin: 20px 0;
    }

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
        }
    }
}

.doctors {
    position: relative;

    .page-title {
        border-bottom: 1px solid black;
        padding: 10px 100px 10px 0;
        font-size: 30px;
    }

    button {
        position: absolute;
        top: 10px;
        right: 0;
        width: 100px;
        height: 35px;
        font-size: 16px;
        color: white;
        background: $primary-color;
        border: none;

        &:hover {
            background: $primary-color-hover;
        }
    }
}

.doctors-data {
    width: 100%;
    border: 1px solid #dad8d8;
    border-spacing: 0;

    thead {
        background: #efefef;;
    }

    tr:nth-child(even) {
        background: #efefef;
    }

    tr.invited {
        td {
            color: #999;
        }
    }

    th,
    td {
        padding: 5px;
        border-right: 1px solid #dad8d8
    }

    tbody {
        tr:not(.invited):hover {
            td {
                background: $primary-light-color;
                border-right: 1px solid $primary-light-color;
                cursor: pointer;
            }
        }
    }
}