@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variables';
@import 'header';
@import 'home';
@import 'footer';

body {
    font: 14px 'Roboto Condensed';
    color: white;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}