@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'variables';
@import 'header';
@import 'home';
@import 'address-form';
@import 'category-list';
@import 'footer';

body {
    font: 14px 'Roboto Condensed';
    color: black;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    flex: 1;
    padding: 30px;
}

.page-title {
    text-align: center;
    text-transform: capitalize;
}

.page-subtitle {
    font-size: 24px;
}

.doctor-specialisations-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
        flex: 0 0 45%;
    }
}