.search-results {
	margin: 50px 0 25px;

	.subtitle {
		font-size: 24px;
	}
}
.search-results-list {
	margin: 25px 0;
	list-style: none;
	padding: 0;

	li {
		margin: 25px 0;
		padding: 20px;
		border: none;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);

		&:hover {
			background: $primary-light-color;
			cursor: pointer;
		}
	}
}