.sign-in-form {
    width: 300px;
    box-shadow: $block-shadow;
    padding: 20px;
    margin: 100px auto;
    text-align: center;

    input {
        height: $input-height;
        font-size: $input-font-size;
        width: 100%;
    }

    input[type="email"],
    input[type="password"] {
        padding: 1px 5px;
        margin-bottom: 20px;
    }

    input[type="submit"] {
        border: none;
        background: $primary;
        color: $white;
        margin-bottom: 5px;

        &:not([disabled]):hover {
            background: $primary-hover;
            cursor: pointer;
        }
    }

    input[disabled] {
        background: $disabled;
        color: $disabled-text;
    }
}