$primary-color: #4784EB;
$primary-color-hover: #3e79dc;
$primary-light-color: #c8dcfd;

$danger-color: #d87373;
$danger-color-hover: #dc5858;

$success-color: #00b900;

$block-shadow: 0 0 3px rgba(0, 0, 0, 0.5);