// Colors
$primary: #4784EB;
$primary-hover: #3e79dc;
$primary-light: #c8dcfd;

$danger: #d87373;
$danger-hover: #dc5858;

$success: #00b900;

$dark: #000;
$dark-hover: #8c8a8a;
$dark-transparent: rgba(0, 0, 0, 0.7);

$white: #fff;

$block-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
$block-padding: 20px;