.address-search {
    .page-title {
        margin-top: 35px;
    }
}

.address-form {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    box-shadow: $block-shadow;
    padding: $block-padding;
    background: $primary;

    input[type="text"] {
        margin-right: 10px;
        width: 290px;
        border: none;
    }

    input[type="submit"] {
        border: 1px solid $white;
    }
}

.search-results {
    margin: 50px 0 25px;
}