.category-list {
    margin: 25px 0;
    list-style: none;
    padding: 0;

    li {
        margin: 25px 0;
        padding: $block-padding;
        border: none;
        box-shadow: $block-shadow;

        &:hover {
            background: $light;
            cursor: pointer;
        }
    }
}

.category-name {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    text-transform: capitalize;

    a {
        text-decoration: none;
        color: $primary-dark;
    }
}