.account-page {
    position: relative;

    .page-title {
        text-align: left;
    }

    .doctor-specialisations-list {
        display: block;
        
        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin: 20px 0;
        }

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.account-settings {
    position: absolute;
    right: 30px;
    top: 45px;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.doctor-specialisations {
    position: relative;

    .page-subtitle {
        border-bottom: 1px solid $dark;
        padding: 10px 110px 10px 0;
    }

    .button-primary {
        position: absolute;
        right: 0;
        top: 10px;
        width: 100px;
    }
}