.page-header {
    color: $white;
    background: $primary;
    font-size: 24px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);

    .page-container {
        padding: $block-padding;
        position: relative;
    }
}

.logo {
    width: 120px;
    vertical-align: top;
    display: block;
    margin: 0 auto;
}

.logout {
    position: absolute;
    right: 20px;
    top: 40px;

    .account-info {
        font-size: 14px;
        margin-right: 10px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 13px;
        max-width: 250px;
        white-space: nowrap;

        a {
            text-decoration: underline;
            color: white;

            &:hover {
                color: $light;
                text-decoration: none;
            }
        }
    }

    button {
        border: 1px solid $white;
        padding: 10px 15px;
        color: $white;
        background: transparent;
        font-size: 16px;
        cursor: pointer;
        float: right;

        &:hover {
            background: $primary-hover;
        }
    }
}

