.home-page {
    display: flex;
    align-items: center;

    .column {
        text-align: center;
        flex: 0 0 50%;
    } 
}

.home-button {
    display: inline-block;
    padding: 30px;
    box-sizing: border-box;
    height: 150px;
    line-height: 95px;
    vertical-align: middle;
    width: 350px;
    text-transform: uppercase;
    font-size: 20px;
    color: $white;
    text-decoration: none;
    box-shadow: $block-shadow;
    cursor: pointer;
    border: none;
}

.column-new {
    .home-button {
        background: $primary;

        &:hover {
            background: $primary-hover;
        }
    }
}

.column-cancel {
    .home-button {
        background: $danger;

        &:hover {
            background: $danger-hover;
        }
    }
}