@import 'variables';
@import 'header';
@import 'home';
@import 'address-form';
@import 'category-list';
@import 'footer';
@import 'available-appointments';
@import 'patient-details';
@import 'order-success';
@import 'cancel-appointment';
@import 'sign-in';
@import 'clinic-registration';
@import 'clinic-account';
@import 'breadcrumbs';
@import 'modal';
@import 'data-table';
@import 'data-section';
@import 'doctor-account';

* {
    box-sizing: border-box;
}
body {
    font: 14px 'Roboto Condensed';
    color: $dark;
    margin: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    flex: 1;
    padding: 30px;
    width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
}

.page-title {
    text-align: center;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 30px;
}

.page-subtitle {
    font-size: 26px;
    font-weight: normal;
}

.error {
    color: $danger;
    margin-top: 0;
}

.doctor-specialisations-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
        flex: 0 0 45%;
    }
}