@import 'variables';
@import 'header';
@import 'home';
@import 'address-form';
@import 'category-list';
@import 'footer';
@import 'available-appointments';
@import 'patient-details';
@import 'order-success';
@import 'cancel-appointment';
@import 'sign-in';
@import 'clinic-registration';
@import 'clinic-account';
@import 'breadcrumbs';
@import 'modal';
@import 'data-table';
@import 'data-section';
@import 'doctor-account';

* {
    box-sizing: border-box;
}
body {
    font: 14px 'Roboto Condensed';
    color: $dark-violet;
    margin: 0;
}

a {
    color: $primary-dark;

    &:hover {
        color: $primary-hover;
        text-decoration: none;
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    flex: 1;
    padding: $block-padding;
    max-width: 1140px;
    min-width: 480px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 28px;
    color: $dark-violet;
}

.page-subtitle {
    font-size: 26px;
    font-weight: normal;
    color: $dark-violet;
}

.button-primary {
    background: $primary-button;
    color: $white;
    border: none;
    height: $input-height;
    font-size: $input-font-size;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    line-height: $input-height;

    &:hover {
        background: $primary;
        color: $white;
    }
}

input{
    border: 1px solid $gray;

    &[type="text"] {
        padding: 1px 5px;
    }

    &:not([type="radio"]) {
        height: $input-height;
        font-size: $input-font-size;
    }

    &[type="submit"] {
        padding: 10px 30px;
        background: $primary-button;
        color: $white;
        border: none;
        line-height: 0.7;

        &[disabled] {
            background: $disabled;
            color: $disabled-text;
        }

        &:not([disabled]):hover {
            background: $primary;
            cursor: pointer;
        }
    }
}

.input-hint {
    color: $success;
    margin: 0;
}

.error {
    color: $danger;
    margin-top: 0;
}

.doctor-specialisations-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 35px;

    li {
        flex: 0 0 30%;
        margin: 0 0 40px;
    }
}