@import 'variables';
@import 'header';
@import 'home';
@import 'address-form';
@import 'category-list';
@import 'footer';
@import 'available-appointments';
@import 'patient-details';
@import 'order-success';
@import 'cancel-appointment';
@import 'sign-in';
@import 'clinic-registration';
@import 'clinic-account';
@import 'breadcrumbs';
@import 'modal';
@import 'data-table';
@import 'data-section';
@import 'doctor-account';

* {
    box-sizing: border-box;
}
body {
    font: 14px 'Roboto Condensed';
    color: $dark-violet;
    margin: 0;
}

a {
    color: $primary-dark;

    &:hover {
        color: $primary-hover;
        text-decoration: none;
    }
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-container {
    flex: 1;
    padding: $block-padding;
    width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.page-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 28px;
    color: $dark-violet;
}

.page-subtitle {
    font-size: 26px;
    font-weight: normal;
    color: $dark-violet;
}

.button-primary {
    background: $primary-button;
    color: $white;
    border: none;

&:not([disabled]):hover {
        background: $primary;
        cursor: pointer;
    }
}

input:not([type="radio"]) {
    height: $input-height;
    font-size: $input-font-size;
}

input[disabled] {
    background: $disabled;
    color: $disabled-text;
}

.error {
    color: $danger;
    margin-top: 0;
}

.doctor-specialisations-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 35px;

    li {
        flex: 0 0 30%;
        margin: 0 0 40px;
    }
}