.modal-blackout {
    background: $dark-transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.modal {
    width: 300px;
    background: $white;
    margin: auto;
    padding: 20px;

    header {
        margin-bottom: 20px;
        position: relative;
    }

    button {
        border: none;
        position: absolute;
        right: 0;
        top: 1px;
        font-size: 18px;
        background: transparent;
        padding: 0;
        color: $dark-violet;
        
        &:hover {
            cursor: pointer;
            color: $dark-hover;
        }
    }

    .modal-title {
        font-size: 20px;
        font-weight: normal;
        margin: 0;
        padding: 0 50px 10px 0;
        border-bottom: 1px solid $dark-violet;
    }

    .modal-description {
        line-height: 1.5;
    }

    input,
    select {
        width: 100%;
        height: $input-height;
        font-size: $input-font-size;
        padding: 1px 5px;
        margin-bottom: 15px;
    }

    select {
        border-radius: 0;
        -webkit-border-radius: 0; 
    }

    input[type="submit"] {
        margin: 0;
    }

    .input-hint {
        margin: -10px 0 15px;
    }
}

.modal-success-message {
    text-align: center;
    line-height: 1.5;
    font-size: 16px;

    p:last-child {
        margin-bottom: 0;
    }

    .button {
        text-decoration: none;
        display: inline-block;
        background: $primary;
        color: $white;
        border: none;
        width: 100%;
        padding: 10px 20px;
    }
}