.appointment-notification {
    text-align: center;
}

.appointment-receipt {
    font-size: 16px;
    width: 300px;
    box-shadow: $block-shadow;
    margin: 50px auto;
    padding: $block-padding;
}

.order-number {
    font-size: 24px;
    text-align: center;

    span {
        color: $success;
    }
}

.order-datetime {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.order-line-number {
    text-align: center;
    margin: 30px 0 0;

    span {
        color: $success;
        font-weight: bold;
    }
}

.new-appointment-finish {
    text-align: center;
    
    a {
        padding: 10px 30px;
        background: $primary;
        color: $white;
        line-height: 1;
        text-decoration: none;
        display: inline-block;

        &:hover {
            background: $primary-hover;
        }
    }
}

