.sign-in-form {
    width: 300px;
    box-shadow: $block-shadow;
    padding: 20px;
    margin: 100px auto;
    text-align: center;

    input {
        width: 100%;
    }

    input[type="email"],
    input[type="password"] {
        padding: 1px 5px;
        margin-bottom: 20px;
    }

    input[type="submit"] {
        margin-bottom: 5px;
    }
}