// Colors
$primary: #73c5ff;
$primary-hover: #68b6ec;
$primary-light: #d9efff;
$primary-dark: #0892f3;

$danger: #d87373;
$danger-hover: #dc5858;

$success: #00b900;

$dark: #000;
$dark-hover: #8c8a8a;
$dark-transparent: rgba(0, 0, 0, 0.7);

$disabled: #f0f0f0;
$disabled-text: #888;

$white: #fff;
$light: #f6f6f6;
$dark-violet: #312a6b;

$block-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
$block-padding: 20px;

$input-font-size: 16px;
$input-height: 35px;